$header-color: #108EE9;
$header-font-color: #ffffff;
$slider-color: #252A2E;
$slider-font-color: #ffffff;
$slider-button-color: #0d7ac9;
$content-bg-color: #ffffff;
$font-color: #22262E;

$headline-color: #22262E;
$headline-bg-color: #108EE9;
$headline-font-color: #108EE9;

$blue-font-color: #108EE9;
$blue-button-color: #0486FE;

$active--color: #0486FE;

$label-color: #666666;


.ivu-btn-primary{
  background-color: #0486FE !important;
  border-color: #0486FE !important;
}