@import "@/assets/style/Theme.scss";
.HomePage {
  .ivu-layout {
    &-header {
      height: 70px;
      padding: 0 30px;
      background: $header-color;
      color: $header-font-color;
      .header-logo {
        img {
          width: 40px;
        }
      }
      .header-ul {
        ul {
          li {
            .ivu-icon {}
          }
        }
      }
    }
    &-sider {
      background: $slider-color;
      .ivu-menu {
        color: $slider-font-color;
        &-item {
          height: 50px;
          .ivu-icon {
            margin-right: 24px;
          }
          &:hover {
            color: $slider-font-color;
            background: $slider-button-color;
          }
        }
        &-light {
          background: none;
          &.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
            color: $slider-font-color;
            background: $slider-button-color;
          }
        }
      }
    }
    .content {
      padding-bottom: 80px;
      background: $content-bg-color;
      border-radius: 2px;
    }
  }
}